*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.encabezado h1{
    background-color: cornflowerblue;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.conversor{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.conversor-titulo{
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
}
.conversor_selectores{
    display: flex;
    margin: 15px;
}
.selectores_form{
    margin: 0px 10px;
}
.conversor_cantidad{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cantidad-boton{
    margin: 15px;
    
}
.conversor_resultado{
    display: inline-block;
    width: 250px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.historial{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.historial-titulo{
    align-self: self-start;
    margin-left: 25px;
}